{{>header}}
{{>navbar}}

<h3>{{name}}</h3>
<section class="container my-5">
    <h3 class="text-center text-primary">All Users</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{#if isEmpty}}
            <tr>
                <td colspan="3" class="bg-danger text-white">No users to show</td>
            </tr>
            {{/if}}
            {{#each data}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.age}}</td>
                <td>{{this.status}}</td>
                <td>
                    <a href="/singleUser/{{this._id}}" class="btn btn-primary">Show</a>
                    <a href="/editUser/{{this._id}}" class="btn btn-warning">Edit</a>
                    <a href="/deleteUser/{{this._id}}" class="btn btn-danger">Delete</a>
                    <a href="/editStatus/{{this._id}}" class="btn btn-success">Edit Status</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
{{>footer}}